html {
    text-align: center;
    padding: 10px;
    background-color: black;
}

header {
    color: white;
}

td {
    padding: 5px;
}

input,textarea {
    border:none;
    border-radius:20px;
    border-color: #FF69A3; 
}

button {
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

